.sidebar {
  position: absolute;
  border: 6px double var(--border-color);
  padding: 4px;
  pointer-events: all;
  /* display: none; */
  transition: .5s;
}

.sidebar[data-no-transition="true"] {
  transition: none !important;
}

.sidebar-inner {
  width: 100%;
  height: 100%;
  border-image-source: url('../../assets/allframe.png');
  border-image-slice: 800 800;
  border-image-width: 100px;
  border-image-repeat: repeat;
  z-index: 2;
  pointer-events: none;
}

.sidebar-toggle-button {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  /* border: 1px solid red;
  background: white; */
  cursor: pointer;
}

@media (max-width: 1023px) {
  .sidebar-toggle-button {
    position: fixed;
    right: auto;
    left: 50%;
    top: auto;
    bottom: 0;
    transform-origin: right bottom;
    transform: translate(-200%, 0) rotate(90deg);
  }
}


.sidebar-toggle-liquid {
  height: 80px;
  width: 30px;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle-liquid svg {
  transform: translateX(3px);
}