.sidebar {
  position: absolute;
  left: 100%;
  top: 0;
  border: 6px double var(--border-color);
  width: 40vw;
  height: 100%;
  padding: 4px;
  pointer-events: all;
  transition: transform .5s;
  will-change: transform;
  backface-visibility: hidden; 
}

.sidebar[data-no-transition="true"] {
  transition: none !important;
}

.sidebar-inner {
  width: 100%;
  height: 100%;
  border-image-source: url('../../assets/allframe.png');
  border-image-slice: 800 800;
  border-image-width: 200px;
  border-image-repeat: repeat;
  z-index: 2;
  pointer-events: none;
}

.sidebar-toggle-button {
  position: fixed;
  right: 0;
  top: 50%;
  /* transform: translate(0, -50%); */
  cursor: pointer;
  height: 80px;
  width: 30px;
  margin-top: -40px;
}

.sidebar-toggle-blurry {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-toggle-blurry svg {
  transform: translateX(3px);
}

@media (max-width: 1023px) {
  .sidebar {
    left: 0;
    top: 100%;
    width: 100vw;
    height: 70dvh;
  }
  .sidebar-toggle-button {
    position: fixed;
    right: auto;
    left: 50%;
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-left: -15px;
    margin-bottom: -25px;
    transform: rotate(90deg);
  }
}


