.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40vw;
  border: 6px double var(--border-color);
  padding: 4px;
  pointer-events: all;
  /* display: none; */
}



.sidebar-inner {
  width: 100%;
  height: 100%;
  border-image-source: url('../../assets/allframe.png');
  border-image-slice: 1600 1600;
  border-image-width: 100px;
  border-image-repeat: repeat;
  z-index: 2;
  pointer-events: none;
}

