.map-rotation-button:hover .map-rotation-icon {
  animation: flip 3s ease-in-out forwards;
  color: #ff2b01;
  transition: .3s;
}

@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-45deg);
  }
  80% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}