.search-input-container {
  position: fixed;
  left: 1rem;
  right: 1rem;
  top: 1rem;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  transform-origin: left top;
}

.search-input-wrapper {
  border-radius: 100px;
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  background-color: var(--blur-bg-Layered);
}

.search-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.search-results-wrapper {
  width: 100%;
  min-height: 40px;
  height: fit-content;
  transform-origin: left top;
  overflow-x: hidden;
}

.search-results-list {
  border-radius: 1rem;
  background-color: var(--blur-bg-Layered);
  width: 100%;
  height: 100%;
  min-height: 40px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
}

.search-results-heading {
  font-size: 1rem;
  white-space: nowrap;
  justify-self: center;
}