.theme-toggle {
  overflow: hidden;
  position: relative;
}

.theme-toggle__inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: 1s ease-in-out;
  width: 100%;
}

.theme-toggle__item {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggle__item:nth-of-type(2) {
  transform: rotate(-90deg);
}