.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgb(26, 25, 25);
  background-image: url('../../assets/bcg.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  box-sizing: border-box;
  position: relative;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 50% 50% 0;
  border: 15px solid #FFF;
  transform: rotate(45deg) translate(0, 0);
  box-sizing: border-box;
  animation: animMarker 0.4s ease-in-out infinite alternate;
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150%;
  width: 24px;
  height: 4px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  animation: animShadow 0.4s ease-in-out infinite alternate;
}

@keyframes animMarker {
  0% {
    transform: rotate(45deg) translate(5px, 5px);
  }
  100% {
    transform: rotate(45deg) translate(-5px, -5px);
  }
}

@keyframes animShadow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
} */
    
.loader {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.loader__img {
  height: 30vh;
  z-index: 2;
  position: relative;
  animation: animPin 1s ease-in-out alternate infinite;
  will-change: transform;
}

.loader::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  height: 6vh;
  border-radius: 100%;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 1) 100%);;
  z-index: 1;
  transform: translateY(-50%);
  animation: animShadow 1s ease-in-out alternate infinite;
  transform-origin: right bottom;
  will-change: transform;
}

@keyframes animPin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

@keyframes animShadow {
  from {
    transform: translateY(-50%) scale(1);
  }
  to {
    transform: translateY(-50%) scale(0.7);
  }
}