.ui-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 4px solid var(--border-color); */
  pointer-events: none;
  z-index: 2;
  display: flex;
  padding: 1rem;
}

.ui-container > * {
  pointer-events: all;
}