.sidebar-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-details__heading::first-letter {
  color: var(--red);
  font-size: 1.25em;
}

.sidebar-details__paragraph {
  text-indent: 20px;
  text-align: justify;
  hyphens: auto; 
}

.sidebar-details__poetry {
  line-height: 1.6rem;
  margin-left: 1rem;
}

@media (max-width: 1023px) {
  .sidebar-details-container {
    padding-right: 10px;
  }
}
