.sidebar-header {
  display: flex;
  gap: 1rem;
}

.sidebar-header__left {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebar-header__info {
  width: 100%;
}

.sidebar-header__heading {
  color: var(--red);
  /* width: min-content; */
  line-height: 1.8rem;
  margin-bottom: 0.4rem;
  overflow-wrap: break-word; 
  /* hyphens: auto;  */
}

.sidebar-header__item-colored {
  font-weight: 600;
  text-shadow: 0px 0px 1px var(--text);
}

@media (max-width: 1023px) {
  .sidebar-header__heading {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}