.sidebar-content__wrapper {
  /* позиционирование чтобы не перекрывать рамку */
  height: calc(100% - 2rem);

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-color: #888888 var(--textured-bg-color); 
  scrollbar-width: thin; 

  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
  padding-bottom: 3rem;
}